  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <div class="card">


      <div class="card-body">
        <h5 class="card-title"><%= vitamin.id %></h5>
        <p class="card-text">  <%= vitamin.amount_per_serving %></p>
      </div>

      <ul class="list-group list-group-flush">
        <p> Delete </p>
      </ul>

      <div class="card-body">
        <%= render "vitamins/form", vitamin: Vitamin.new(vitamin_id: vitamin.id) %>

      </div>
    </div>
  </div>
