  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <div class="card">


      <div class="card-body">
        <h5 class="card-title"><%= pill.id %></h5>
        <p class="card-text">  <%= pill.brand %></p>
      </div>

      <ul class="list-group list-group-flush">
        <p> Delete </p>
      </ul>

      <div class="card-body">
        <%= render "comments/form", comment: Comment.new(photo_id: photo.id) %>

      </div>
    </div>
  </div>
